:root {
    --bg-color: #ffffff;
    --bg-secondary-color: #fbf9f9;

    --text-color: #263848;
    --text-secondary-color: #201f1f;
    --text-third-color: #34495E;
    --text-fourth-color: #325275;
    --text-fifth-color: #305171;
  }
  
[data-theme="dark"] {
    --bg-color: #194B64;
    --bg-secondary-color: #124158;

    --text-color: #EAECEE;
    --text-secondary-color: #FFF;
    --text-third-color: #D6DBDF;
    --text-fourth-color: #AEB6BF;
    --text-fifth-color: #D6DBDF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative;

    font-family: "Sora", sans-serif;
    line-height: 1.6;

    overflow-x: hidden;
}

button {
    cursor: pointer;
    background: none;
    border: none;
}

input {
    outline: none;
    border: none;
}

body[data-theme="dark"] input,
body[data-theme="dark"] textarea  {
    color: #FFF;
}