body {
    background-color: var(--bg-secondary-color);
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;

    min-height: 100vh;

    transition: all 350ms ease-in-out;
}
  
main {
    background-color: var(--bg-secondary-color);

    transition: all 350ms ease-in-out;

    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    background-color: var(--bg-color);
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 0px 8px var(--text-color);
    max-width: 400px;
    width: 100%;

    transition: all 350ms ease-in-out;
}

.form-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: var(--text-third-color);
}
  
.form-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: var(--bg-secondary-color);
}

.form-container button {
    width: 100%;
    padding: 12px;
    background-color: #FF8C00;
    color: white;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

.form-container button:hover {
    background-color: #e67e00;
}



.toggle {
    text-align: center;
    margin-top: 15px;
    color: var(--text-color);
}

.form-container .toggle a {
    color: #FF8C00;
    text-decoration: none;
}

@media (max-width: 767px) {
.form-container {
    padding: 20px;
    border-radius: 12px;
}

.form-container input {
    padding: 10px;
    margin: 8px 0;
}

.enviar {
    padding: 10px;
    font-size: 14px;
}
}

@media (max-width: 480px) {
.form-container {
    padding: 15px;
    border-radius: 10px;
    margin-inline: 30px;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
}

.form-container input {
    padding: 8px;
    margin: 6px 0;
}

.enviar {
    padding: 8px;
    font-size: 12px;
}

.form-container .toggle {
    font-size: 14px;
}
}