
/* Produtos */
section.produtos {    
    padding: 50px 0;
}

.produtos .container {
    width: 90%;
    margin: 0 auto;
    text-align: center;
}

.produtos h2 {
    font-size: 2.5em;
    letter-spacing: 5px;
    color: #263848;
}

.produtos .filtros{
    margin-block: 30px 50px;
}

.produtos-lista {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}
.gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}
.gallery-descriptions {
    margin-top: 0.5rem;
    font-size: 1.1rem;
}
.gallery-controls {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.gallery-controls button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: #fff;
    padding: 0.5rem;
    cursor: pointer;
}
.gallery-controls button:hover {
    background: rgba(0, 0, 0, 0.7);
}

@media (max-width: 1200px) {
    .produtos .container {
        width: 95%;
    }
}

@media (max-width: 768px) {
    .produtos h2 {
      font-size: 2.2em;
    }
  
    .produtos-lista {
      flex-direction: column;
      align-items: center;
      padding: 0 10px; /* 🆕 ajuste para telas pequenas */
    }
  }
  

@media (max-width: 480px) {
    .search-input {
        width: 100%;
        max-width: 100%;
        padding: 8px 12px;
    }

    .produtos h2 {
        font-size: 2em;
    }
}

.fidelidade {
    background-color: white;
    padding: 60px 20px;
    text-align: center;
}

.fidelidade .container {
    max-width: 1200px;
    margin: 0 auto;
}

.fidelidade h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e67e00;
}

.descricao-fidelidade {
    font-size: 1.2em;
    margin-bottom: 40px;
    color: #444;
}

.cartoes-fidelidade {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}

.cartao {
    background-color: #fff;
    border: 1px solid #ffd89f;
    border-radius: 16px;
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.cartao:hover {
    transform: translateY(-5px);
}

.cartao h3 {
    color: #ff8c00;
    margin-bottom: 10px;
}

.cartao p {
    color: #555;
}

/* Responsivo */
@media (max-width: 768px) {
    .cartoes-fidelidade {
        flex-direction: column;
        align-items: center;
    }

    .cartao {
        width: 90%;
    }
}
